In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/cinematTicket.csv')

<ipython-input-2-0b9a1d842f01>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/cinematTicket.csv')

In [ ]:
df

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day
0,1492.0,304.0,3900000.0,26.0,0.0,4.0,4.26,150000.0,26.0,610.328639,05-05-2018,5.0,2.0,5.0
1,1492.0,352.0,3360000.0,42.0,0.0,5.0,8.08,80000.0,42.0,519.801980,05-05-2018,5.0,2.0,5.0
2,1492.0,489.0,2560000.0,32.0,0.0,4.0,20.00,80000.0,32.0,160.000000,05-05-2018,5.0,2.0,5.0
3,1492.0,429.0,1200000.0,12.0,0.0,1.0,11.01,100000.0,12.0,108.991826,05-05-2018,5.0,2.0,5.0
4,1492.0,524.0,1200000.0,15.0,0.0,3.0,16.67,80000.0,15.0,89.982004,05-05-2018,5.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Understand unique values in categorical columns
print("Unique values in 'cinema_code':", df['cinema_code'].unique())
print("Unique values in 'film_code':", df['film_code'].unique())

Unique values in 'cinema_code': [304. 352. 489. 429. 524.  71. 163. 450.  51. 522.  43. 529.  82. 344.
  73. 485. 518. 448. 431.  72. 144. 456. 238. 312. 168. 254. 214. 474.
 445. 300. 362. 324. 452. 291. 479. 210. 428. 277.  56. 253. 243.  39.
 310. 201. 457.]
Unique values in 'film_code': [1492.]

In [ ]:

#predictive modelling using linear regression

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Assume 'X' contains features and 'y' is the target variable ('total_sales')
X = df[['ticket_price', 'tickets_sold', 'show_time', 'occu_perc', 'ticket_use', 'capacity']]
y = df['total_sales']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 351907444919.183